/* General */

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
:root {
    --bloc-color: #393E46;
    --inbloc-color: #515863;
    --text-color: #1B87D6;
    --hover-color: #02D1FF;
    --white-color: #EEEEEE;
}

body{
    background-image: url(./images/parallax.jpg);
}

/* Titres */



h3{
    margin-top: 10px;
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
}

/* Textes */

p{
    color: var(--white-color);
    margin-top: 20px;
}

.text{
    text-align: left;
    margin: 50px;
}



/* Header */



/* MAIN */


/* Section 1 */

.cadre{
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: var(--bloc-color);
}
.cadre2{
    display: flex;
    width: 100%;
    background-color: var(--inbloc-color);
    height: 150px;
    
}
.cadre2-texte{
    display: flex;
    width: 100%;
    background-color: var(--inbloc-color);
    height: 150px;
}

/* Section 2 */ 

.cadre2-texte p{
    text-align: left;
    margin: 20px;
}
.imageV1{
    height: 100%;
    width: 100%;
}

.espace{
    height: 50px;
    background-color: var(--bloc-color);
}


/* Section 3 */
.cadreBtn{
    display: flex;
    width: 100%;
    background-color: var(--inbloc-color);
    height: 150px;
    align-items: center;
    justify-content: center;
}
.cadre3{
    display: flex;
    margin-top: 50px;
    width: 100%;
    background-color: var(--inbloc-color);
}

.imageV2{
    height: 100%;
    width: 100%;
}

.BtnProduit{
    height: 80px;
    width: 80%;
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--white-color);
    font-size: 35px;
    border: none;
}

/* Section 4 */

.imageMoteur{
    margin-top: 50px;
    margin-bottom: -10px;
    height: 100%;
    width: 100%;
}

.cadreMoteur{
    display: flex;
    width: 100%;
    background-color: var(--bloc-color);
}


/* Section 5 */


.commentaireAvatar{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    background-color: var(--bloc-color);
}

.commentaire{
    border-radius: 10px;
    background-color: var(--inbloc-color);
}

.avatar{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.note{

}